.addSubject{
    display: block;
    position: absolute;
    z-index: 11;
    border: 2px solid #70c2e6;
    background-color: #e6f6ff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 90px;
    /*right: 12%;*/
    right : 5px;
    bottom: 5px;
    padding : 5px;
    color : black;
    /*margin: 0 -50px 0;*/
    /*overflow: visible;*/
}

.addSubject input {
    width: 180px;
    margin : 5px;
}
.addSubject button {
    margin: 8px 5px;
}