table {
    width : 100%;
    table-layout: fixed;
}
.left-text {
    text-align: left;
}
.center-text> input[type="checkbox"]{
    margin: 0 40%;
}
th {
    height: 30px;
}
td {
    position: relative;
    font-size : 1em;
}
.inputEditor {
    position : absolute;
    height: 90%;
    width : 99%;
    border : 1px solid #52aee6;
    left : 0;
    top : 0;
}
tr#row-1, tr#row-2{
    background-color: lightgrey;
}
.verification{
    background-color: rgb(255,235,156);
}
.verified{
    background-color: rgb(198,239,206)
}
.mym-universaltable-container {
    position : relative;
    overflow : auto;
    height: 500px;
}
.mym-btn-add-lang-alias {
    position: fixed;
    right : 7%;
    /*top : 2px;*/
    border: 2px solid var(--selected-item-hard);
    text-align: center;
    border-radius: 5px;
    background-color: lightgrey;
    width : auto;
    padding : 0 10px;
    height : 22px;
    margin : 3px;
    z-index : 2;
}
.mym-btn-add-lang-alias:hover {
    background-color: var(--erase-mark);
    cursor: pointer;
}
.rotate {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*width: 1.5em;*/
}
.rotate div {
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    margin-left: -1em;
    margin-right: -1em;
    padding : 25px 0;
}